<h1>All Posts</h1>

<% if can? :create, Post %>
  <%= link_to "New Post", new_post_path, class: 'btn btn-primary btn-mini' %>
<% end %>
<!-- <button class="btn" type="button">
	<%#= link_to "Create New Post", new_post_path %>
</button> -->
<% @posts.each do |post| %>
	<div class="media">
		<div class="media-body">
			<h4 class="media-heading">
				<%= link_to post.title, [@topic, post] %>
			</h4>
		</div>
		<small>
	        submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
	        <%= post.comments.count %> Comments
	    </small>
	</div>
<% end %>
