<<<<<<< HEAD
<!-- <h1><%= @post.title %></h1> -->
<!-- <p><%= @post.body %></p> -->

<%= content_for :title do %>
  <%= @post.title %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-mini' %>
<% end %>

<p><%= @post.body %></p>
=======
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<%= content_for :title do %>
  <%= @post.title %>
<% end %>

<p><%= @post.body %></p>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-mini' %>
>>>>>>> a19336df63717f8bcc735f5e702f10c3ce5e282f
