<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<%= content_for :title do %>
  <%= @post.title %>
<% end %>

<p><%= @post.body %></p>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-mini' %>